<a href="https://colab.research.google.com/github/MADHUPRIYAAA/2303a51583-batch-22/blob/main/labcodespython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
l=[10,99.9,"cse"]
for i in l:
    print(type(i),i)
#list
l=[10,20,30,40]
print(l)
if 20 in l:
    print("found")
else:
    print("notfound")
##
l=[10,20,30,40]
l.append(50)
print(l)
l.remove(30)
print(l)
l.insert(2,25)
print(l)
l.pop()
print(l)
###
l=[9,26,92,56,45,16]
l.sort()
print(l)
l.reverse()
print(l)
print(sum(l))
print(min(l))
print(max(l))

#### nestedlist
l=[[1,2,3],
   [4,5,6],
   [7,8,9]]
print(l)

<class 'int'> 10
<class 'float'> 99.9
<class 'str'> cse
[10, 20, 30, 40]
found
[10, 20, 30, 40, 50]
[10, 20, 40, 50]
[10, 20, 25, 40, 50]
[10, 20, 25, 40]
[9, 16, 26, 45, 56, 92]
[92, 56, 45, 26, 16, 9]
244
9
92
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [3]:
##tuple
t=(10,20,30,40)
print(t)
t=(10,20,30,10,20)
print(t)
t=(1,99.9,"CSE")
print(t)
for i in t:
    print(type(i),i)
if 20 in t:
    print("found")
else:
    print("not found")
##
t=(1,2,3,2,3,2,4)
print(t.count(2))
print(t.index(4))
##
l=[10,20,30,40]
mytuple=tuple(l)
print(mytuple)

(10, 20, 30, 40)
(10, 20, 30, 10, 20)
(1, 99.9, 'CSE')
<class 'int'> 1
<class 'float'> 99.9
<class 'str'> CSE
not found
3
6
(10, 20, 30, 40)

In [5]:
#dictionary
#dictonary
d={'name':'phyton','id':'101','branch':'cse'}
print(d.keys())
print(d.values())
print(d.items())
for key in d:
    print(key)

dict_keys(['name', 'id', 'branch'])
dict_values(['phyton', '101', 'cse'])
dict_items([('name', 'phyton'), ('id', '101'), ('branch', 'cse')])
name
id
branch

In [4]:
#sets
s={1,2,3,4}
print(s)
s={1,2,3,2,3,2}
print(s)
for i in s:
    print(i)
if 2 in s:
    print("found")
else:
    print("not found")
a={1,2,3}
b={3,4,5}
print("union",a|b)
print("intersection",a&b)
print("difference",a-b)
print("symmetricdifference",a^b)
s={1,2,3}
s.add(4)
print(s)
s.remove(2)
print(s)
s.clear()
print(s)

{1, 2, 3, 4}
{1, 2, 3}
1
2
3
found
union {1, 2, 3, 4, 5}
intersection {3}
difference {1, 2}
symmetricdifference {1, 2, 4, 5}
{1, 2, 3, 4}
{1, 3, 4}
set()