<a href="https://colab.research.google.com/github/MADHUPRIYAAA/2303a51583-batch-22/blob/main/labcodes%204.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
# Creating a Series from a list
data = [10, 20, 30, 40, 50]
series = pd.Series(data)
print("Pandas Series:")
print(series)

Pandas Series:
0    10
1    20
2    30
3    40
4    50
dtype: int64

In [4]:
#Series with Custom Index
import pandas as pd
data = [10, 20, 30, 40, 50]
index_labels = ['a', 'b', 'c', 'd', 'e']
series = pd.Series(data,
index=index_labels)
print(series)

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [6]:
#Creating a DataFrame
import pandas as pd
# Creating a DataFrame from a dictionary
data = {
'Name': ['Alice', 'Bob', 'Charlie', 'David'],
'Age': [25, 30, 35, 40],
'City': ['Hyderabad', 'Delhi', 'Chennai', 'Mumbai']
}
df = pd.DataFrame(data)
print("Pandas DataFrame:")
print(df)

Pandas DataFrame:
      Name  Age       City
0    Alice   25  Hyderabad
1      Bob   30      Delhi
2  Charlie   35    Chennai
3    David   40     Mumbai

In [9]:
#Basic DataFrame Operations
#(a) Accessing Data
# Access a single column
print(df['Name'])
# Access multiple columns
print(df[['Name', 'City']])
# Access rows using index
print(df.iloc[1]) # row at index 1
print(df.loc[2]) # row with label 2
#(b) Adding a New Column
df['Salary'] = [40000, 50000, 60000, 70000]
print(df)
#(c) Removing a Column
df = df.drop('City', axis=1)
print(df)
#Slide Title2. Pandas for Data Analysis, Series, Data Frames, and Basic Data Manipulation.
#(d) Filtering Data
# Select rows where Age > 30
print(df[df['Age'] > 30])
#(e) Basic Statistics
print(df['Age'].mean()) # Average age
print(df['Age'].max()) # Maximum age
print(df['Age'].min()) # Minimum age

0      Alice
1        Bob
2    Charlie
3      David
Name: Name, dtype: object
      Name       City
0    Alice  Hyderabad
1      Bob      Delhi
2  Charlie    Chennai
3    David     Mumbai
Name      Bob
Age        30
City    Delhi
Name: 1, dtype: object
Name    Charlie
Age          35
City    Chennai
Name: 2, dtype: object
      Name  Age       City  Salary
0    Alice   25  Hyderabad   40000
1      Bob   30      Delhi   50000
2  Charlie   35    Chennai   60000
3    David   40     Mumbai   70000
      Name  Age  Salary
0    Alice   25   40000
1      Bob   30   50000
2  Charlie   35   60000
3    David   40   70000
      Name  Age  Salary
2  Charlie   35   60000
3    David   40   70000
32.5
40
25

In [10]:
import pandas as pd
# Create a DataFrame with student details
student_data = {
'Student_ID': [101, 102, 103, 104],
'Name': ['Ravi', 'Neha', 'Kiran', 'Sita'],
'Marks': [85, 90, 78, 92],
'Department': ['CSE', 'ECE', 'MECH', 'CSE']
}
df = pd.DataFrame(student_data)
# Display full DataFrame
print("Student Data:")
print(df)

Student Data:
   Student_ID   Name  Marks Department
0         101   Ravi     85        CSE
1         102   Neha     90        ECE
2         103  Kiran     78       MECH
3         104   Sita     92        CSE